*{
  box-sizing: border-box;
}

body{
  margin: 0;
  background-color: #efefef;
  font-family: "Fredoka",sans-serif;
  background: linear-gradient(120deg, #f8b9b9, #acbdf5);
}

.game{
  margin: 0.5rem;
  text-align: center;
  justify-content: center;
  border-radius: 1rem;
  font-size: 3rem;
  text-shadow: 0 0 10px gold;
  color: white;
  text-decoration: underline;
}

.game:hover{
  text-shadow: 0 0 10px rgb(30, 255, 0);
}